<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <!--<add name="cs" connectionString="Server=tcp:pppk-drazenovic.database.windows.net,1433;Initial Catalog=People;Persist Security Info=False;User ID=sas;Password=Pa$$w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <add name="cs" connectionString="0PyF4H34i++UQDf8OwR3lVfBPdVMolMrrzRF+XS+yJny6uKJHKuYb8V4ec8S6oX2NoYRa/zR30xC8LcPIt8uVJdp5lxzUlp53alyN8BTY9vY6XfB9aA5kQ2+Y4cLbM+EH1zcx7L00HIGzCUpwnromJIEFAwU9ziWaOOpZND2NWPgcWG2mXN/aVoMGRa5rdFx40VP0iQN4N6ndmPUWu0LCy/tv+q1G1AK3x91GSQkPIuLKrFn7isMD9NRj44mNyWfqsJRk7uF6TBSSX92fa9foih2BRwkeBOg8B00LoAoFd1M6cVuoMw7Ng=="/>
  </connectionStrings>
</configuration>